*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.col-md-6{
    width: 45%;
    float: left;
}

.header-right-image img {
    width: 100%;
}

.header-leftf-content{
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.header-area{
    background-image: url("../images/header-bg.png");
    height: 1060px;
    display: flex;
}

.header-top-content h2 {
    font-weight: 400;
    font-size: 42px;
}

.header-top-content h1 {
    color: #ec4c7a;
    font-size: 67px;
    font-weight: 700;
    margin-bottom: 50px;
}

.header-top-content p {
    margin-bottom: 20px;
}

.hireme-button {
    color: #fff;
    padding: 5px 20px 5px  20px;
    background-image: linear-gradient(to right, #FC7C52, #FFAF26);
    border: none;
    border-radius: 5%;
    text-decoration: none;
}

