*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.col-md-6{
    width: 45%;
    float: left;
}

.header-right-image img {
    width: 100%;
}

.header-leftf-content{
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.header-area{
    margin-top: 140px;
    margin-bottom: 140px;
}
