*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 25px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.left-column {
    margin-right: 30px;
}

.right-column {
    margin-left: 30px;
}

.image-size img {
    width: 580px;
}

.header-leftf-content{
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.header-area{
    background-image: url("../images/header-bg.png");
    height: 1060px;
    display: flex;
}

.header-top-content h2 {
    font-weight: 600;
    font-size: 42px;
}

.header-top-content h1 {
    color: #ec4c7a;
    font-size: 67px;
    font-weight: 700;
    margin-bottom: 40px;
}

.header-top-content h2 {
    margin: 0;
}

.hireme-button {
    color: #fff;
    padding: 5px 20px 5px  20px;
    background-image: linear-gradient(to right, #FC7C52, #FFAF26);
    border: none;
    border-radius: 5%;
    text-decoration: none;
}

.biography-area{
    background-image: url("../images/biography-bg.png");
    height: 860px;
    display: flex;
}

.latest-work-area{
    background-image: url("../images/latest-work-bg.png");
    height: 550px;
}

.latest-work-area h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.work-images img {
    width: 380px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.work-images {
    margin-left: -15px;
    margin-right: -15px;
}

.footer-area{
    background-image: url(../images/footer-bg.png);
    text-align: center;
}

.header h1 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.client-name p {
    margin-bottom: 100px;
}

.client-testimonials p {
    margin-bottom: 100px;
}

.contact-details {
    margin-bottom: 150px;
    background-image: linear-gradient(to right, #ec5095, #ed4b6e);
    padding: 50px 80px 50px 80px;
    border-radius: 10px;
    display: inline-block;
    color: #fff;
}

.contact-details p {
    margin-top: 0;
}

.client-testimonials p {
    width: 40%;
    display: inline-block;
}